* {
    box-sizing: border-box;
}
body {
    position: relative;
    height: 100%;
    line-height: 1.4;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
}
p {
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    z-index: 2;
}
.wrapper {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.video {
    position: relative;
    background: #000;
    padding: 20px 20px 0 20px;
    height: 100%;
}
/*LIST VIDEO ICONS*/
.video-list {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 50px;
    background: transparent;
    width: 150px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    opacity: 1;
    transition: all .5s ease-in-out;
    z-index: 3;
}
.video-list.hide {
    opacity: 0;
}
.video-list__item {
    margin-left: 15px;
}
.video-list__link {
    display: inline-block;
    color: #fff;
    font-size: 28px;
}
/*CHAT*/
.chat {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2000px;
    width: 100%;
    height: 30vh;
    overflow-y: scroll;
    background: transparent;
    padding: 20px;
    transition: all .5s ease-in-out;
    z-index: 2;
}
.chat.open {
    bottom: 0;
}
.chat-list__item {
    margin-bottom: 20px;
}
.chat-list__link {
    display: flex;
    align-items: center;
}
.user-avatar {
    min-width: 40px;
    min-height: 40px;
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-right: 15px;
}
.user-avatar-pic {
    display: none;
}
.user-name {
    font-weight: bold;
    color: #fff;
    margin-bottom: 5px;
}
.user-text {
    color: #fff;
}

/**MODAL*/
.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    justify-content: center;
    align-items: center;
    opacity: 0;
    display: none;
    transition: all .5s ease-in-out;
}
.modal-wrapper.show-modal {
    opacity: 1;
    display: flex;
}
.modal {
    width: 400px;
    height: 400px;
    background: transparent;
    overflow-y: scroll;
    padding: 20px;
}
.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.users-list__item {
    margin-bottom: 20px;
}
.users-list__link {
    display: flex;
    align-items: center;
    color: #fff;
}
.users-list__avatar {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-right: 15px;
}
.users-list__avatar-pic {
    display: none;
}
.users-list-name {
    font-weight: bold;
    color: #fff;
    margin-bottom: 5px;
}
@media(max-width: 590px) {
    .modal {
        width: 100%;
    }
}

.modal::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
    display: none;
}

.chat::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
    display: none;
}